#header{
    font-family:Geneva, Tahoma, Verdana, sans-serif;
    text-align: center;
    font-size: 75px;
    color: white;
}

body{
    background-size: 100%;
    background-color: darkturquoise;

}

#form{
     width: 60%;
     margin-left: 20%;
     padding: 5px;
     background-color: gray;
 }

form{
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    font-size: 28px;
    color: white;
    margin-left: 20px;
    margin-top: 8px;
}

.tb{
    margin-bottom: 10px;
    border: 3px solid white;
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding: 6px;
    color: darkturquoise;
}

.tb:focus{
    outline: none;
    border-color: darkturquoise;
    box-shadow: 0 0 10px darkturquoise;
}

#sub{
    width: 160px;
    height: 60px;
    border: 3px solid darkturquoise;
    background-color: Transparent;
    margin-top: 20px;
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    color: white;
    font-size: 25px;
    margin-left: 49px;
}
