/*--------| FlashCard App Project   
----------| Jack Boyle & Olivia Zhang; Gabor Pd. 7  
----------| project.css: Styling for main page
# id, . class */

body {
    font-family:Geneva, Tahoma, Verdana, sans-serif;
    text-align: center;
    background-size: 100%;
    background-color: darkturquoise;
    font-size: 25px;
    color:white;
    font-style: bold;
}

button {
  padding:10px;
  border: 3px solid #FFFFFF;
  color:#FFFFFF;
  text-decoration:none;
  background-color: Transparent;
  height: 50px;
  width:  175px;
  margin-left: 10px;
  font-size: 18px;
}

#toolbar {
    border: 5px solid #FFFFFF;
    font-size: 30px;
}

table{
    height: 25px;
}

.tbbutton{
    width: 160px;
    padding:10px;
   font-size: 25px;
   border: none;
}

#title{ font-size: 75px;
    padding:3px;
    margin-top: inherit; 
    margin-bottom: 0px;
    margin-right: 10px;
    margin-left: 10px;
}

input[type=text] {
 align-content: center;
 padding: 10px;
    width: 45%;
    height:40px;
  border: solid 2px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
input[type="text"]:focus,
input[type="text"].focus {
  border: solid 1px #66b2ff;
  box-shadow: 0 0 5px 1px #66b2ff;
}
